rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isDemoWindow() {
      return request.time < timestamp.date(2026, 8, 1);
    }

    match /fahrzeuge/{id} {
      allow read, write: if isDemoWindow();
    }

    match /termine/{id} {
      allow read, write: if isDemoWindow();
    }

    match /fahrzeuge_real/{id} {
      allow read, write: if isDemoWindow();
    }

    match /termine_real/{id} {
      allow read, write: if isDemoWindow();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
